@import "src/variables";

.what {

  padding: $defaultPadding;


  @media (max-width: 767px) {
    padding: 10px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 55px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  &__text {
    text-align: center;
    color: #1E1E1E;
    line-height: 200%;
    max-width: 915px;

    margin-bottom: 55px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__table {
    @media (max-width: 1000px) {
      display: flex;
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__row {
    display: flex;
    border-bottom: 1px solid #F6EDDE;
    &:last-child {
      border-bottom: none;
    }

    @media (max-width: 1000px) {
      flex-direction: column;
      border-bottom: none;
      border-right: 1px solid #F6EDDE;
      &:last-child {
        border-right: none;
      }
    }

    @media (max-width: 767px) {
      border-right: none;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    border-right: 1px solid #F6EDDE;

    @media (max-width: 1000px) {
      border-right: none;
      border-bottom: 1px solid #F6EDDE;
      &:last-child {
        border-bottom: none;
      }
    }

    img {
      margin-bottom: 30px;
    }

    &:last-child {
      border-right: none;
    }

  }
  &__image {}
  &__name {
    font-size: 25px;
    color: #F2612D;
    font-weight: 800;
  }
}