@import "src/variables";

.home {
  padding: $defaultPadding;
  min-height: 100vh;
  background-color: #f2ae35;
  position: relative;

  @media (max-width: 767px) {
    padding: 10px;
  }

  &__bg {
    img {
      max-width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    margin-bottom: 100px;
  }

  &__button {
  }
}

.header {
  position: relative;
  color: #ffffff;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 220px 1fr;
  grid-template-areas: "menu logo panel";

  align-items: center;

  &__menu {
    grid-area: menu;
    text-transform: uppercase;

    font-size: 16px;

    @media (max-width: 1450px) {
      display: none;
    }
  }

  &__logo {
    grid-area: logo;
  }

  &__panel {
    grid-area: panel;
    justify-self: right;
    display: flex;

    position: relative;
  }

  &__cart {
    top: -20px;
    right: -20px;
  }

  &__services {
    display: flex;
    padding-right: 90px;
    margin-right: 40px;
    position: relative;

    @media (max-width: 767px) {
      display: none;
    }

    &:after {
      content: "";
      position: absolute;
      top: 14px;
      right: 0;
      width: 50px;
      height: 1px;
      background-color: #ffffff;
    }

    @media (max-width: 1450px) {
      padding-right: 0px;
      margin-right: 0px;
      &:after {
        display: none;
      }
    }
  }

  &__socials {
    display: flex;
    @media (max-width: 1450px) {
      display: none;
    }
  }

  &__service-item {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__service-label {
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: 14px;

    width: 20px;
    height: 20px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__social-item {
    position: relative;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    transition-duration: 0.2s;

    &:hover {
      transform: scale(1.2, 1.2);
    }
  }

  &__icon {
    cursor: pointer;
    transition-duration: 0.2s;
    &:hover {
      transform: scale(1.2, 1.2);
    }
  }

  &__list {
    position: relative;
    display: flex;
    z-index: 2;

    li {
      user-select: none;
      cursor: pointer;
      letter-spacing: 1px;
      margin-right: 30px;
      font-weight: 700;

      &:last-child {
        margin-right: 0;
      }

      transition-duration: 0.2s;

      &:hover {
        transform: scale(1.2, 1.2);
      }
    }
  }

  &__mobile {
    height: 460px;
    width: 400px;
    top: -10px;
    left: -10px;

    animation: mobile-menu ease-in-out 1.2s;
    overflow: hidden;

    @media (max-width: 767px) {
      animation: full-scr-mobile-menu ease-in-out 2.5s;
      position: fixed;
      z-index: 999999;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      padding: 10px;
      border-radius: 0;
    }
  }

  &__burger {
  }

  @media (max-width: 1450px) {
    &__burger {
      padding: 10px;
      z-index: 2;
      width: 50px;
      display: grid;
      align-items: center;
      grid-template: repeat(3, 8px) / 1fr;
      transition-duration: 0.2s;

      &::before {
        content: " ";
        height: 2px;
        width: 30px;
        background-color: #ffffff;
      }

      div {
        height: 2px;
        width: 30px;
        background-color: #ffffff;
      }

      &::after {
        content: " ";
        height: 2px;
        width: 30px;
        background-color: #ffffff;
      }

      &:hover {
        transform: scale(1.2, 1.2);
      }
    }
  }
}

.mobile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 90px;
  grid-template-areas: "cross" "menu" "socials";
  justify-items: center;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      padding: 15px;
      user-select: none;
      cursor: pointer;

      font-size: 20px;
      font-weight: 700;

      &:last-child {
        margin-bottom: 0;
      }

      transition-duration: 0.2s;

      &:hover {
        transform: scale(1.2, 1.2);
      }
    }
  }

  &__socials {
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
  }

  &__social {
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    user-select: none;
    cursor: pointer;

    transition-duration: 0.2s;

    &:hover {
      transform: scale(1.2, 1.2);
    }
  }

  &__services {
    @media (min-width: 767px) {
      display: none;
    }

    @media (max-width: 767px) {
      align-self: center;
      display: grid;
      grid-auto-flow: column;
      justify-items: center;
      gap: 20px;
      margin-bottom: 20px;
    }
  }

  &__service {
    @media (max-width: 767px) {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      user-select: none;
      cursor: pointer;

      transition-duration: 0.2s;

      &:hover {
        transform: scale(1.2, 1.2);
      }
    }
  }

  &__cross {
    justify-self: start;
  }
}

@keyframes full-scr-mobile-menu {
  0% {
    width: 0%;
    height: 0%;
  }

  50% {
    width: 100%;
    height: 50%;
  }

  100% {
    height: 100%;
  }
}

@keyframes mobile-menu {
  0% {
    height: 60px;
    width: 60px;
  }

  100% {
    width: 400px;
    height: 460px;
  }
}
