@import "src/variables";

.footer {
  //padding: $defaultPadding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F8AB40;

  &__body {
    padding: $defaultPadding;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 3fr;

    justify-items: center;

    width: 100%;

    @media (max-width: 1600px) {
      gap: 20px;
      max-width: 600px;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
              "sub sub"
              "pay pay"
              "info logo";
    }

    @media (max-width: 767px) {
      padding: 10px;
    }

    @media (max-width: 500px) {
      gap: 20px;
      //max-width: 600px;
      text-align: center;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "sub" "pay" "info" "logo";
    }

  }

  // common styles
  &__title {
    font-size: 26px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 30px;

    @media (max-width: 1600px) {
      //text-align: center;
    }

  }

  // ------------------ //
  &__logo {
    @media (max-width: 1600px) {
      grid-area: logo;
    }

  }

  &__information {
    @media (max-width: 1600px) {
      grid-area: info;
      width: 100%;
    }
  }

  &__list {
    li {
      color: #6D450C;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }

  &__payments {
    @media (max-width: 1600px) {
      grid-area: pay;
      width: 100%;
      align-self: center;
      //max-width: 600px;
    }
  }

  &__systems {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 12px;
    align-items: center;
    justify-items: center;
  }

  &__item {
  }

  &__image {
  }

  &__follow {
    width: 100%;
    @media (max-width: 1600px) {
      grid-area: sub;
      //max-width: 600px;
    }
  }

  &__subtitle {
    background-color: #FFFFFF;
    height: 60px;
    line-height: 60px;
    width: 100%;
    padding-left: 50px;
    border-radius: 30px;

    font-weight: 700;
    font-size: 17px;
    color: #6D450C;

    position: relative;

    margin-bottom: 30px;

    &:before {
      content: '';
      width: 25px;
      height: 20px;
      position: absolute;
      top: 20px;
      left: 15px;
      background: url("../../assets/images/footer/message.svg") center no-repeat;
    }

  }

  &__socials {
    //background-color: #0AA566;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "empty follow networks";
    justify-items: center;
    align-items: center;

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "follow" "networks";
      gap: 20px;
    }

  }

  &__link {
    grid-area: follow;
    color: #6D450C;
    font-weight: 800;
    position: relative;

    @media (max-width: 450px) {
      //font-size: 14px;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: -65px;
      background: url("../../assets/images/footer/arrow.svg");
      width: 48px;
      height: 43px;
    }
  }

  &__networks {
    grid-area: networks;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    //background-color: #1E1E1E;
  }

  &__network {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__bottom {
    background-color: #6D2819;
    width: 100%;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas: "empty copy button";

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__copy {
    grid-area: copy;
    font-size: 13px;
    color: #AF8A82;
    justify-self: center;
    line-height: 60px;

    @media (max-width: 767px) {
      order: 2;
    }
  }

  &__button {
    grid-area: button;
    justify-self: center;

    @media (max-width: 767px) {
      order: 1;
    }

    button {
      position: relative;
      font-size: 16px;
      font-weight: 700;
      color: #FFFFFF;
      background-color: rgba(0, 0, 0, 0);

      padding: 20px;

      &:after {
        content: '';
        position: absolute;
        top: -35px;
        right: -35px;
        background: #F2662F url("../../assets/images/footer/arrowTop.svg") center no-repeat;
        width: 50px;
        height: 50px;
        border-radius: 6px;
      }
    }
  }
}