@import "src/variables";

.testimonials {
  padding: $defaultPadding;
  background-color: #6B2D1E;
  color: #FFFFFF;

  @media (max-width: 980px) {
    padding: 20px;
  }

  @media (max-width: 767px) {
    padding: 10px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  &__title {
    margin-bottom: 80px;
    span {
      color: #F2612D;
    }
  }
}