@import "src/variables";

.blog {
  padding: $defaultPadding;

  @media (max-width: 767px) {
    padding: 10px;
  }

  //min-width: 100vh;

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    width: 100%;
    margin-bottom: 50px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }

  }
  &__content {
    display: flex;

    @media (max-width: 1280px) {
      flex-direction: column;
      align-items: center;
    }

  }

  &__image {

    img {
      max-width: 100%;
    }

    @media (max-width: 1280px) {
      margin-bottom: 20px;
    }
  }

  &__body {
    padding: 100px 0px 0px 50px;

    position: relative;

    @media (max-width: 1280px) {
      padding: 0px;
    }

  }

  &__subtitle {

    &:before {
      content: '';
      width: 687px;
      height: 12px;
      background-color: #F7AE3B;
      position: absolute;
      left: -10px;
      top: 50px;
      border-radius: 10px;
      z-index: -1;
    }

    margin-bottom: 20px;

    h3 {
      color: #F2612D;
      font-weight: 800;
      font-size: 30px;
    }

    @media (max-width: 1280px) {
      text-align: center;
      margin-bottom: 40px;
      &:before {
        width: 100%;
        height: 8px;
        left: 0px;
      }
    }

    @media (max-width: 767px) {
      h3 {
        font-size: 24px;
      }
    }

  }
  &__date {
    color: #1E1E1E;
  }
  &__text {
    padding: 45px 60px;
    max-width: 620px;

    line-height: 200%;

    @media (max-width: 767px) {
      padding: 0;
    }

  }
  &__button {
    display: inline-block;
    button {
      font-style: italic;
      color: #1E1E1E;
      padding: 0px 50px 0px 5px;
      font-size: 18px;
      background-color: rgba(0,0,0,0);
      display: inline-block;
      &:after {
        right: 0;
      }
      &:hover {
        transform: none;
        text-decoration: underline;
      }
    }
  }
}