.wrapper {
  font-family: 'Mulish', sans-serif;
  min-height: 100vh;
}

.title {
  h2 {
    font-size: 50px;
    font-weight: 800;
    color: #F7AE3B;
  }
}

.button {
  button {
    font-size: 24px;
    font-weight: 800;
    background-color: #0AA566;
    padding: 20px 115px 20px 30px;
    border-radius: 40px;
    color: #FFFFFF;

    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 30px;
      height: 16px;
      top: calc(50% - 7px);
      right: 35px;

      background: url("/assets/images/arrow.png");
    }
  }
}