.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  //background-color: #CAE941;

  &__swiper {
    width: 90vw;
  }

  &__content {
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 100px 280px 20px 180px;

    margin-bottom: 120px;

    @media (max-width: 980px) {
      padding: 0;
      width: 100%;
      margin-bottom: 150px;
    }
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    //@media (max-width: 767px) {
    //  top: 0px;
    //}
    @media (max-width: 500px) {
      top: 10px;
    }
  }
  &__name {
    color: #521905;
    font-weight: 800;
    opacity: 0.6;
    font-size: 200px;

    @media (max-width: 1124px) {
      font-size: 170px;
    }

    @media (max-width: 767px) {
      font-size: 100px;
    }

    @media (max-width: 500px) {
      font-size: 70px;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    text-align: center;
    line-height: 200%;

    position: relative;
    z-index: 1;

    @media (max-width: 980px) {
      width: 100%;
      align-items: center;
    }
  }
  &__text {
    max-width: 500px;
  }
  &__address {
    color: #f7ae3b;
  }

  &__photo {
    position: absolute;
    bottom: 0;
    right: 0;

    img {
      max-width: 100%;
    }

    @media (max-width: 980px) {
      position: relative;
    }
  }

  &__arrows {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 100px;
  }

  &__right {
    padding: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
    &:hover {
      transform: scale(1.2, 1.2);
    }
  }
  &__left {
    padding: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
    &:hover {
      transform: scale(1.2, 1.2);
    }
  }
}
